body {
  height: 100vh;
  display: flex;
  /* center the canvas in the middle */
  justify-content: center;
  align-items: center;
  /* set a nice gray background color */
  background-color: #676767;
  overflow: hidden;
}

#game-container{
  /* set the width and height of the canvas */
  width: 800px;
  height: 600px;
  /* set the background color of the canvas */
  background-color: #000;
  /* set the border of the canvas */
  border: 1px solid #fff;
  /* make sure there is no blur */
  image-rendering: pixelated;
}