body {
  height: 100vh;
  display: flex;
  /* center the canvas in the middle */
  justify-content: center;
  align-items: center;
  /* set a nice gray background color */
  background-color: #676767;
  overflow: hidden;
}
